body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
  /*Azulclaro*/
  animation: starExplosion 5s infinite alternate;
  -webkit-animation: starExplosion 5s infinite alternate;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 20%; /* Puedes ajustar este valor para cambiar el tamaño del video */
  max-width: 800px; /* Ancho máximo del video */
  height: auto;
}

.barra-horizontal {
  display: flex;
  background-color: #333; /* Color de fondo de la barra */
  color: white; /* Color del texto */
  padding: 10px; /* Espacio interno de la barra */
  align-items: center; /* Centrar verticalmente los elementos */
}

.barra-horizontal img {
  width: 100px; /* Tamaño de la imagen */
  height: auto; /* Para mantener la proporción */
  margin-left: 10px; /* Espacio entre la imagen y el título */
}

.inicio2 {
  font-size: 24px; /* Tamaño del título */
  margin-right: 10px; /* Espacio entre el título y la imagen */
}

@keyframes starExplosion {
  0% {
    background-color: whitesmoke; /* Azul claro */
  }
  50% {
    background-color: whitesmoke; /* Azul claro más claro */
  }
  100% {
    background-color: #ffffff; /* Blanco */
  }
}
.tech {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.logo {
  position: fixed; /* Se mantiene fija cuando me desplace para abajo */
  bottom: 590px; /* Ajusta esta posición según prefieras (mayor valor para mover hacia arriba) */
  right: 10px; /* Ajusta esta posición según prefieras */
  width: 99px;
  height: auto;
  z-index: 100;
}

section {
  padding: 20px;
  background-color: #154360;
}

/* Estilo para los elementos details */
details {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
}

/* Estilo para los elementos details cuando están abiertos */
details[open] {
  background-color: #e0e0e0;
}

/* Estilos para dispositivos móviles (max-width: 768px) */
@media (max-width: 768px) {
  /* Logo en dispositivos móviles */
  .logo {
    position: fixed;
    width: 100%;
    max-width: 90px; /* Ajusta el tamaño según sea necesario */
  }
}

/* Estilos para el Splash Screen */
.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  /*Bordeblancotranslúcido*/
  border-top: 4px solid #ffffff;
  /*Bordeblancosólido*/
  border-radius: 50%;
  width: 0px;
  height: 50px;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Estilos para ocultar el contenido principal hasta que el splash desaparezca */
#main-content {
  display: none;
}

/* Estilos para boton categorias */

#toggleButton:hover {
  color: #ff0000; /* Cambia el color del texto al pasar el mouse sobre el botón */
}

/* Animación para cambiar el color del texto */
@keyframes background-change {
  0% {
    color: white;
  }
  50% {
    color: #00ff00;
  }
  100% {
    color: white;
  }
}

#toggleButton:hover {
  transform: rotateY(20deg);
  /*Aplicalarotación3DenelejeYalhacerhover*/
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotateY(20deg);
  -moz-transform: rotateY(20deg);
  -ms-transform: rotateY(20deg);
  -o-transform: rotateY(20deg);
}

#toggleButton {
  background-color: black;
  position: fixed;
  margin-top: -70px;
  color: white;
  width: 40%;
  font-size: 20px;
  height: 8%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.3s, color 0.3s;
  /*Agregamostransiciónparaelcolor*/
  -webkit-transition: transform 0.3s, color 0.3s;
  -moz-transition: transform 0.3s, color 0.3s;
  -ms-transition: transform 0.3s, color 0.3s;
  -o-transition: transform 0.3s, color 0.3s;
  animation: background-change 2s infinite;
  -webkit-transition: transform 0.3s, color 0.3s;
  -webkit-animation: background-change 2s infinite;
}

#toggleButton:active {
  transform: rotateY(0deg);
  /*Restauralarotación3Dalhacerclic*/
  transition: transform 0.1s;
  -webkit-transition: transform 0.1s;
  -moz-transition: transform 0.1s;
  -ms-transition: transform 0.1s;
  -o-transition: transform 0.1s;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}

.sidebar {
  position: fixed;
  top: 0;
  left: -450px; /* Ajustamos el valor de left para que la barra esté fija en el lado izquierdo */
  /* Ancho de la barra lateral */
  /* Altura de la barra lateral que ocupa toda la pantalla */
  width: 400px;
  height: 200%;

  background-color: black;
  padding: -0px; /* Agregamos un relleno para dar espacio al contenido */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif "Lucida Sans",
    Arial, sans-serif;
  z-index: 2000; /* Aseguramos que la barra lateral esté sobre otros elementos */
  overflow-y: auto; /* Agregamos desplazamiento vertical si el contenido es más largo que la altura de la barra */
}

@media only screen and (max-width: 768px) {
  /* Aplicar estilos diferentes para pantallas con un ancho máximo de 768px (típicamente dispositivos móviles) */
  .sidebar {
    width: 230px; /* Reducir el ancho para dispositivos móviles */
    left: -230px; /* Ocultar la barra lateral en dispositivos móviles al cargar la página */
  }
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
}

.sidebar a:hover {
  color: gold;
  background-color: #154360;
}

/* Dispositivos moviles */

.inicio {
  position: fixed;
  font-size: 20px;
  color: red;
  background-color: black;
  /* Ajusta esta cantidad para cambiar la distancia desde abajo */
  bottom: 20px; /* Ajusta esta cantidad para cambiar la distancia desde la parte inferior */
  left: 20px; /* Ajusta esta cantidad para cambiar la distancia desde la izquierda */
}

/* Clase de la foto  */
.profile-picture {
  width: 89px; /* Ajusta el ancho de la imagen según tu preferencia */
  height: 19%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid red;
  position: fixed;
  top: 5px;
  right: 1px;
  cursor: pointer; /* Cambia el cursor al pasar por encima de la imagen */
}
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}
.modal img {
  max-width: 90%;
  max-height: 90%;
}

.inicio3 {
  text-align: center;
  width: 20;
  color: gold;
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0;
  margin: 0;
  margin-left: 65px;
}

/* Estilos para el botón VER */

/* CATEGORIAS BARRA LATERAL */
.categorias {
  color: black;
  background-color: red;
}

.atras {
  background-color: red;
  color: black;
}

.splash-content {
  text-align: center;
}

/* Servicios del HTML */
.servicio {
  text-align: center;
  background-color: black;
  color: gold;
}

/* Seccion de categorias */
.cate {
  background-color: black;
  color: #ffa500;
  text-align: center;
}

.video {
  width: 100%;
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Estilos para el botón de WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: -70px;
  right: -6%;
  padding: 95px;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  /*ColorverdedeWhatsApp*/
  transition: transform 0.3s, box-shadow 0.3s;
  -webkit-transition: transform 0.3s, box-shadow 0.3s;
  -moz-transition: transform 0.3s, box-shadow 0.3s;
  -ms-transition: transform 0.3s, box-shadow 0.3s;
  -o-transition: transform 0.3s, box-shadow 0.3s;
}

.whatsapp-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-color: green;
  border-radius: 50%;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
}

.whatsapp-button:hover::before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.whatsapp-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(37, 211, 102, 0.5);
}

/* Tamaño del icono de WhatsApp */
.whatsapp-button img {
  width: 80px; /* Tamaño del icono reducido para dispositivos móviles */
  height: auto;
  vertical-align: middle;
}

/* Media query para pantallas pequeñas */
@media (max-width: 767px) {
  .whatsapp-button {
    padding: 10px; /* Ajusta el padding para pantallas más pequeñas */
    font-size: 2px; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    bottom: 10px; /* Ajusta la posición inferior en pantallas más pequeñas */
    right: -10px; /* Ajusta la posición derecha en pantallas más pequeñas */
  }

  .whatsapp-button img {
    width: 80px; /* Tamaño aún más pequeño para el icono en pantallas pequeñas */
  }
}

@media (max-width: 768px) {
  .whatsapp-button {
    bottom: 20px;
    right: 20px;
    padding: 20px;
    font-size: 14px;
  }

  .whatsapp-button::before {
    width: 300%;
    height: 300%;
  }

  .whatsapp-button:hover {
    transform: scale(1.2);
  }
}

@media (max-width: 480px) {
  .whatsapp-button {
    bottom: 15px;
    right: 15px;
    padding: 15px;
    font-size: 12px;
  }

  .whatsapp-button::before {
    width: 400%;
    height: 400%;
  }

  .whatsapp-button:hover {
    transform: scale(1.3);
  }
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

video {
  max-width: 100%;
  height: auto;
}

/* Botón de WhatsApp en dispositivos móviles */

.whatsapp-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* SECCION DE CONTACTO */

/* Tus estilos previos */

.video-section {
  background-color: black;
  text-align: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-section video {
  max-width: 100%;
  max-height: 100%;
}

.center-wrapper {
  position: relative;
  width: 400px; /* Ancho deseado */
  height: 400px; /* Altura deseada */
  overflow: hidden;
}

.nicho2 {
  color: red;
  /*Cambiamoselcoloragold*/
  text-align: center;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  overflow: hidden;
  animation: destello 3s infinite alternate;
  -webkit-animation: destello 3s infinite alternate;
}

@keyframes destello {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.listase {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.texto {
  color: #fff;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  line-height: 2.5;
}

.desarrollo {
  color: #fff;
  background-color: black;
  width: 100%; /* Ajusta el ancho del contenedor según tus necesidades */
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  line-height: 2;
}
.cam {
  color: gold;
}

@keyframes rotateText {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (max-width: 768px) {
  .nicho {
    font-size: 14px;
  }
}

/* Pantallas aún más pequeñas */
@media (max-width: 576px) {
  .nicho {
    font-size: 12px;
  }
}
.video2 {
  width: 70%;
  height: 31%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* secion contacto */

/* Formulario de contacto */

/* Estilos para formulario de contacto */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.form2 {
  text-align: center;
  font-size: 40px;
  color: black;
}

/* Estilo de etiquetas y campos de entrada */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

/* Estilo del botón de envío */
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

/* Estilo al pasar el cursor sobre el botón */
input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Lista ul  */
ul {
  list-style: none;
}

ul li::after {
  content: "\00B7"; /* Punto medio Unicode */
  margin-left: 5px; /* Ajusta el espacio entre el enlace y el punto */
}

.des {
  background-color: blue;
}

.swal-content__input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.swal-content__input:focus {
  outline: none;
  border-color: #007bff; /* Cambiar el color del borde cuando el campo está enfocado */
}

/* Estilos contacto */
.contact-section {
  background-color: whitesmoke;
  /*Fondonegro*/
  color: black;
  /*Colordeltexto*/
  padding: 20px;
  /*Espaciadointerno*/
  border-radius: 10px;
  /*Bordesredondeados*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /*Sombra*/
  text-align: center;
  /*Centrarelcontenido*/
  margin: 0 auto;
  /*Centrarhorizontalmente*/
  max-width: 80%;
  /* Ancho máximo  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.contact-section h2,
.contact-section p {
  margin-bottom: 8px; /* Espacio inferior */
}

#fecha {
  font-style: italic; /* Estilo de fuente cursiva */
  color: #999; /* Color del texto */
}
