/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Estilos para la imagen de perfil */
.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Estilos para los títulos */
.titular {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para el video */
.video-container {
  display: flex;
  justify-content: center;
}

.video3 {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

/* Estilos para los párrafos */
.parrafo {
  text-align: justify;
  margin-bottom: 20px;
}

/* Estilos para las listas */
.lista,
.lista2 {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.lista2 li {
  margin-bottom: 10px;
}

/* Estilos para los enlaces */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para los botones */
.inicio {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

/* Estilos para la sección de contacto */
.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.whatsapp-btn i {
  margin-right: 5px;
}

form {
  background-color: rgba(0, 0, 0, 0.8); /* Fondo negro con transparencia */
  padding: 20px;
  border-radius: 10px;
}

.lab {
  color: white; /* Texto blanco */
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Fondo blanco con transparencia */
  color: white; /* Texto blanco */
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Color azul */
  color: white; /* Texto blanco */
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3; /* Color azul más oscuro al pasar el ratón */
}

.tabla-estudios {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tabla-estudios td {
  border: 1px solid #ddd;
  padding: 8px;
}

.tabla-estudios tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla-estudios tr:hover {
  background-color: #ddd;
}

.tabla-estudios td:first-child {
  font-weight: bold;
}
/* TABLA DESCARGAS  */
.tabla-descargas {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tabla-descargas th,
.tabla-descargas td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabla-descargas th {
  background-color: #f2f2f2;
}

.tabla-descargas tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla-descargas tr:hover {
  background-color: #ddd;
}

/* TABLA EXPERIENCIA */
.tabla-experiencia {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tabla-experiencia th,
.tabla-experiencia td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabla-experiencia th {
  background-color: #f2f2f2;
}

.tabla-experiencia tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla-experiencia tr:hover {
  background-color: #ddd;
}

/* TABLA REFERENCIAS */
.tabla-referencias {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tabla-referencias th,
.tabla-referencias td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabla-referencias th {
  background-color: #f2f2f2;
}

.tabla-referencias tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla-referencias tr:hover {
  background-color: #ddd;
}

.mensaje {
  text-align: center;
}
